<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitstop">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />  <!--normal-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!--normal-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--dangerous-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!--dangerous-->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!--normal-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!--normal-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!--normal-->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!--normal-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!--dangerous-->

    <!-- permission for barcode scanner -->
    <uses-permission android:name="android.permission.CAMERA" /> <!--dangerous-->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />



    <!-- feature support -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".utils.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/common_plus_signin_btn_icon_dark_disabled" />-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7d2f21bc8eccedf9dcf6b118731fb330ed5fd017"
            />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.mixpanel.android.MPConfig.ResourcePackageName"
            android:value="com.pitstop" />
        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:309712221750" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAjJNef8uduAKyjAOlWwvkHa9ozaRvnLZk"/>

        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />

        <!-- activities -->

        <!--meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/android_auto" /-->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ReceiveDebugActivity"
            android:label="@string/title_activity_receive_debug" />

        <activity
            android:name=".ui.add_car.PendingAddCarActivity"
            android:label="Please Connect to Internet" />

        <activity
            android:name=".ui.issue_detail.IssueDetailsActivity"
            android:label="@string/title_activity_display_item"
            android:screenOrientation="portrait" />

        <service
            android:name=".bluetooth.BluetoothAutoConnectService"
            android:label="Background Service" />

        <service
            android:name=".utils.MigrationService"
            android:exported="false"/>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.add_car.AddCarActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.CarHistoryActivity"
            android:label="History"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SelectDealershipActivity"
            android:label="Select Dealership"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".ui.scan_car.ScanCarFragment"
            android:label="@string/title_activity_car_scan"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.service_request.ServiceRequestActivity"
            android:label="Request Service"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.my_appointments.MyAppointmentActivity"
            android:label="My Appointments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.my_trips.MyTripsActivity"
            android:label="My Trips"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <service android:name=".ui.services.TripService" android:process=":trip_tracking" />



        <receiver android:name=".utils.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        
        <!-- Parse push notification stuff -->

        <service android:name="com.parse.PushService" />


        <receiver
            android:name=".utils.PitstopPushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- smooch stuff -->

        <service android:name="io.smooch.core.service.SmoochService" />

        <!--receiver android:name=".auto.AndroidAutoHeardReceiver">
            <intent-filter>
                <action android:name="com.pitstop.auto.MESSAGE_HEARD"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver-->

        <!--receiver android:name=".auto.AndroidAutoReplyReceiver">
            <intent-filter>
                <action android:name="com.pitstop.auto.MESSAGE_REPLY"/>
            </intent-filter>
        </receiver-->

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.NotificationsActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/notifications"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.add_car.PromptAddCarActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/notifications"
            android:parentActivityName=".ui.MainActivity"/>

        <activity
            android:name=".ui.upcoming_timeline.TimelineActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Upcoming Services"
            android:parentActivityName=".ui.MainActivity"
            />

        <activity
            android:name=".ui.services.ServicesActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/services_nav_text"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.DealershipActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Dealership"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>