<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitstop">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- permission for barcode scanner -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- feature support -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application
        android:name=".application.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".background.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/common_plus_signin_btn_icon_dark_disabled" />-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <meta-data
            android:name="com.mixpanel.android.MPConfig.ResourcePackageName"
            android:value="com.pitstop" />
        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:309712221750" />

        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />

        <!-- activities -->

        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/android_auto" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".AddCarActivity"
            android:label="@string/title_activity_add_car"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppNoActionBarTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarDetailsActivity"
            android:label="@string/title_activity_car_details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ReceiveDebugActivity"
            android:label="@string/title_activity_receive_debug" />
        <activity
            android:name=".PendingAddCarActivity"
            android:label="Please Connect to Internet" />
        <activity
            android:name=".Debug.PIDDebugActivity"
            android:label="@string/title_activity_piddebug" />
        <activity
            android:name=".EnvironmentalCheckActivity"
            android:label="@string/title_activity_enviornmental_check" />
        <activity
            android:name=".IssueDetailsActivity"
            android:label="@string/title_activity_display_item"
            android:screenOrientation="portrait" />

        <service
            android:name=".background.BluetoothAutoConnectService"
            android:label="Background Service" />

        <service
            android:name=".background.MigrationService"
            android:exported="false"/>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".AddCarProcesses.AddCarActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CarHistoryActivity"
            android:label="History"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SelectDealershipActivity"
            android:label="Select Dealership"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".CarScanActivity"
            android:label="@string/title_activity_car_scan"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <receiver android:name=".utils.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        
        <!-- Parse push notification stuff -->

        <service android:name="com.parse.PushService" />


        <receiver
            android:name=".PitstopPushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="abc" />
            </intent-filter>
        </receiver>

        <!-- smooch stuff -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
            </intent-filter>
        </receiver>

        <!--service android:name="io.smooch.core.service.SmoochService" />
        <service
            android:name="io.smooch.core.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="io.smooch.core.GcmRegistrationIntentService"
            android:exported="false" />
        <service
            android:name="io.smooch.core.GcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service-->

        <receiver android:name=".auto.AndroidAutoHeardReceiver">
            <intent-filter>
                <action android:name="com.pitstop.auto.MESSAGE_HEARD"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!-- IMPORTANT: Change "com.ansik.pitstop" to match the app's current package name.-->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver android:name=".auto.AndroidAutoReplyReceiver">
            <intent-filter>
                <action android:name="com.pitstop.auto.MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>

        <service android:name="io.smooch.core.service.SmoochService" />
        <service
            android:name="io.smooch.core.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="io.smooch.core.GcmRegistrationIntentService"
            android:exported="false" />
        <service
            android:name="io.smooch.core.GcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>

</manifest>